{% extends 'base.html' %}

{% comment %}
    Un utilisateur arrive sur cette page avec le lien qu'il reçoit par mail pour la réinitialisation du mot de passe.
    On utilise une view django pour gérer la réinitialisation du mot de passe donc la structure du formulaire doit rester la même. 
    les deux input doivent avoir les noms "new_password1" et "new_password2".
{% endcomment %}

{% block content %}
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title font-weight-light">Changement de mot de passe</h3>
        </div>
        <div class="modal-body" id="change_password_reset_body">
            {# On test si le  lien utilisé est encore valide. #}
            {% if validlink %}
                {# formulaire pour récupérer le nouveau mot de passe et l'envoyer à la view django. #}
                <form class="form-horizontal" method="post">
                    {% csrf_token %}
                    <div class="form-group row">
                        <label class="col-lg-4 control-label" for="new_password_reset">Nouveau mot de passe</label>
                        <div class="col-lg-6">
                            <input type="password" class="form-control" id="id_new_password1" name="new_password1" placeholder="exemple" required="">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-lg-4 control-label" for="new_password_reset">Confirmez le nouveau mot de passe</label>
                        <div class="col-lg-6">
                            <input type="password" class="form-control" id="id_new_password2" name="new_password2" placeholder="exemple" required="">
                        </div>
                    </div>
                </form>
                <div id="errors_reset_confirm" class="alert alert-danger" role="alert" style="display:none">
                        <p><strong>Quelque chose s'est mal passé !</strong></p>
                        <span>Veuillez entrer deux fois le même mot de passe.</span>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-primary ml-auto" id="reset_confirm_button" style="display:flex">Envoyer<i id="reset-load-icon"></i></button>
                </div>
            {# Si le lien n'est pas valide on demande à l'utilisateur de récupérer un autre lien #}
            {% else %}
                <div class="alert alert-info">Le lien utilisé n'est plus valide, merci de refaire la demande de réinitialisation de mot de passe</div>
                <div class="modal-footer justify-content-between">
                    <a class="ml-auto" href="{% url 'home' %}"><button type="button" class="btn btn-primary" style="display:flex"><i class="gg-home"></i>Accueil</button></a>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}

{% block script %}
{# Script pour tester si la confirmation du mot de passe est réussi.#}
<script>
    $(document).on('click','#reset_confirm_button',function(){
        var password1 = $('#id_new_password1').val();
        var password2 = $('#id_new_password2').val();

		var hasNumber =/\d/;
        message_reset= "";
        //on vérifie que le mot de passe soit conforme
        if (password1.length < 8){
            message_reset+="Le mot de passe doit être de 8 caractères minimum.<br>"
        }
        if (!hasNumber.test(password1)){
            message_reset+="Le mot de passe doit contenir au moins un chiffre.<br>"
        }
        if (password1 != password2){
             message_reset+="Veuillez entrer deux fois le même mot de passe.<br>"
        }
        //on regroupe les différents messages d'erreur
        var ajax_errors_reset = $('#errors_reset_confirm');
        ajax_errors_reset.css('display','block');
        ajax_errors_reset.find('span').html(message_reset);
        if (password1 == password2){
            $('#change_password_reset_body').find('form').submit();
        }
    });
</script>
{% endblock script %} 
