{% extends 'base.html' %}

{% comment %}
    Une fois que le mot de passe a bien été changé, l'utilisateur est redirigé vers cette page pour l' informer qu'il peut retourner à l'accueil 
    et se connecter avec son nouveau mot de passe.
{% endcomment %}

{% block content %}
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title font-weight-light">Changement de mot de passe</h3>
        </div>
        <div class="modal-body" id="change_password_complete_body">
           <div class="alert alert-info">
                Votre mot de passe a été modifié, vous pouvez dès à présent vous connecter !
           </div>
        </div>
        <div class="modal-footer justify-content-between">
                <a class="ml-auto" href="{% url 'home' %}"><button type="button" class="btn btn-primary" style="display:flex"><i class="gg-home"></i>Accueil</button></a>
        </div>
    </div>
</div>


{% endblock content %}