{# Script pour rendre le modal interactif #}
<script>

    {# pour que le modal soit réinitialisé après chaque fermeture #}

    {# on clone le modal avant son utilisation #}
    var originalModalchange = $('#change_password').clone();
    $(document).ready(function(){
        //quand le modal a fini d'être caché
        $(document).on('hidden.bs.modal','#change_password', function(){
            //on supprime le modal qui a été modifié
            $('#change_password').remove();
            //on le remplace par l'original qu'on a cloné
            var myClone = originalModalchange.clone();
            $('body').append(myClone);
        });

        //quand le bouton "envoyer" est cliqué dans le modal change_password
        $(document).on('click', '#changebutton',function(){
            // on récupère les données du formulaire du modal
            var old_password = $('#old_password').val();
            var new_password = $('#new_password').val();
            var conf_new_password = $('#conf_new_password').val();

            //on ajoute une image de chargement à côté de "envoyer"
            var load_icon = $('#change-load-icon');
            load_icon.addClass('gg-spinner-alt');


            $.ajax({
                
                // les données à envoyer à la view pour changer le mot de passe
                type : "POST",
                url : "compte/changepwd",
                data:{
                    old_password : old_password,
                    new_password : new_password,
                    conf_new_password : conf_new_password,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },

                //si le changement de mot de passe est réussi
                success: function (response){
                    
                    //on change le corps du modal
                    $('#change_password_body').html("<div class='text-center'>Votre mot de passe a bien été changé</div>");
                    //on cache le bouton "envoyer"
                    $('#changebutton').css('display','none');
                    $('#changebutton2').addClass('ml-auto');
                },

                //si la réponse est un échec 
                error: function (response){
                    
                    //on affiche le message d'erreur personnalisé avec les données envoyées par la réponse
                    var message = response.responseJSON['message'];
                    var ajax_errors = $('#ajax-errors_change_password');
                    ajax_errors.css('display','block');
                    ajax_errors.find('span').html(message);
                },
                complete: function(){
                    //on retire l'image de chargement à côté du bouton "envoyer"
                    load_icon.removeClass('gg-spinner-alt')
                },
            });
        });
    });

</script>