{# modal pour l'oubli de mot de passe #}
<div class="modal" tabindex="-1" role="dialog" id="password_reset">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            {# header #}
            <div class="modal-header">
                <h3 class="modal-title font-weight-light">Mot de passe oublié</h3>
                {# bouton pour fermer le modal #}
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {# body #}
            <div class="modal-body" id="password_reset_body">
                {#formulaire contenant les données à envoyer à la view pour réinitialiser le mot de passe#}
                <form class="form" method="post">
                    {% csrf_token %}
                    <div class="form-group row">
                        <label class="col-lg-4 control-label" for="id_email">Entrez votre adresse email:</label>
                        <div class="col-lg-6">
                            <input type="email" class="form-control" id="id_email" name="email_reset" placeholder="email">
                        </div>
                    </div>
                </form>
                {# message d'erreur si la réponse est un échec #}
                <div id="ajax-errors_reset" class="alert alert-danger" role="alert" style="display:none">
                    <p><strong>Cette adresse mail n'existe pas!</strong></p>
                    <span>Veuillez créer un compte avec cet email, ou entrez un autre email.</span>
                </div>
            </div>
            {# footer #}
            <div class="modal-footer justify-content-between">
                {# bouton avec un event listener dans le fichier password_reset.js.html #}
                <button type="button" class="btn btn-primary ml-auto" id="resetbutton" style="display:flex">Envoyer<i id="reset-load-icon"></i></button>
                {# bouton pour fermer le modal #}
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="resetbutton2">Fermer</button>
            </div>
        </div>
    </div>
</div>