{# Script pour rendre le modal interactif #}
<script>
    
    {# pour que le modal soit réinitialisé après chaque fermeture #}

    {# on clone le modal avant son utilisation #}
    var originalModalreset = $('#password_reset').clone();
    $(document).ready(function(){
        //quand le modal a fini d'être caché
        $(document).on('hidden.bs.modal','#password_reset', function(){
            //on supprime le modal qui a été modifié
            $('#password_reset').remove();
            //on le remplace par l'original qu'on a cloné
            var myClone = originalModalreset.clone();
            $('body').append(myClone);
        });

        //quand le bouton "envoyer" est cliqué dans le modal password_reset
        $(document).on('click','#resetbutton',function(){
            // on récupère les données du formulaire du modal
            var email = $('#id_email').val();

            //on ajoute une image de chargement à côté de "envoyer"
            var load_icon = $('#reset-load-icon');
            load_icon.addClass('gg-spinner-alt');

            $.ajax({
                // la requête à envoyer pour vérifier l'existence du mail dans la base de données
                type:"POST",
                url:"compte/mail_exist",
                data:{
                    email : email,
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                //si le mail est dans la base de données
                success: function(response){
                    
                    $.ajax({

                        // les données à envoyer à la view pour réinitialiser le mot de passe
                        type : "POST",
                        url : "compte/password-reset",
                        data:{
                            email : email,
                            'csrfmiddlewaretoken': '{{ csrf_token }}'
                        },
                        
                        //si le mail a bien été envoyé 
                        success: function (response){
                            
                            //on change le corps du modal
                            $('#password_reset_body').html("<div class='alert alert-info text-center'>Un lien pour réinitialiser votre mot de passe vous a été envoyé à l'adresse :<br>"+email+"</div>");
                            //on cache le bouton "envoyer"
                            $('#resetbutton').css('display','none');
                            $('#resetbutton2').addClass('ml-auto');
                        },                    
                        complete: function(){
                        },
                    });
                },
                 
                // si le mail n'est pas dans la base de données
                error: function(response){
                    //on affiche le message d'erreur
                    $('#ajax-errors_reset').css('display','block');
                    //on retire l'image de chargement à côté du bouton "envoyer"
                    load_icon.removeClass('gg-spinner-alt');
                },
                
                complete: function(){

                },
            });
        });
    });

</script>